body
{
    background-color: white;
    font-family: 'Nunito', sans-serif;
    /*display: flex;*/
    margin: 0;
    background: url("../assets/bg/bg2.jpg") fixed center;
    /*width: 100%;*/
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/*Paleta kolorów:
black / #EB7221 / white
pomarańczowy main: #D08831
grey: 8C8C8C
*/

h2
{
    margin: 10px;
}

p
{
    margin: 10px;
}

.opacityImg:hover
{
    opacity: 90%;
}

.banner
{
    display: flex;
    justify-content: center;
    align-content: center;
    /*background: url("../assets/films/ad2.jpg");*/
    /*background-size: cover;*/
}

.swiper
{
    /*position: relative;*/
    width: 100%;
    max-height: 1080px;
    height: auto;
    /*background-size: cover;*/
}
.swiper-slide img
{
    /*min-width: 100%;*/
    /*min-height: 100%;*/
    width: 100%;
    max-height: 800px;
    height: auto;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next
{
    color: #D08831;
}

/*.swiper .swiper-pagination-bullet-active*/
/*{*/
/*    background: #D08831;*/
/*}*/

.swiper .swiper-pagination-bullet
{
    background-color: #D08831;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 0.6s;
    /*padding: 20px 0px;*/
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.7);
}

header .logo
{
    position: relative;
    font-weight: bold;
    color: #D08831;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
}

#logo
{
    width: 100px;
    height: 75px;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #D08831;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}

header a:hover
{
    color: #ffc980;
}

#main
{
    height: 100%;
    width: 100%;
}

.mainDivs
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid red;
}

.mainDivText
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
    /*border: 1px solid red;*/
    /*min-height: 650px;*/
}

.divRow
{
    flex-direction: row;
    margin-top: 50px;
}

.pair
{
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
}

.footerPartners
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    /*border: 1px solid red;*/
    /*background-color: black;*/
    background: url("../assets/bg/bg4.jpg") center;
    color: #D08831;
    margin-top: auto;
    position: relative;
    bottom:0;
    width:100%;
}

.footerPartnersIndex
{
    margin-top: 0px;
}

.footerPartners p
{
    margin: 0.5em;
}

.partnersDiv
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
}


.line
{
    min-width: 200px;
    max-width: 600px;
    border-bottom: 2px solid #D08831;
    /*margin-bottom: 20px;*/
}

.partnersP
{
    font-size: 20px;
}

.rowIcon
{
    margin-top: 10px;
    height: 100px;
}

.credentials
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100px;
    margin-top: 10px;
}

.credentials img
{
    margin: -50px;
    width: 150px;
}

.contentLeft
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}

.contentRight
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}

.contentImg
{
    margin: 20px;
    width: 600px;
    height: 400px;
    border-radius: 5px;
    transition: transform 0.5s ease-in-out;
}

.contentImg:hover
{
    transform: scale(0.995);
    transition: transform 0.5s ease-in-out;
}

.contentText
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    align-content: center;
    color: white;
    margin: 20px;
    width: 600px;
    height: 400px;
}

.buttonContent
{
    background-color: #D08831;
    border-radius: 10px;
    margin-left: 10px;
    transition: .3s ease-in-out;
    padding: 1px 4px;
    margin-top: 20px;
}

.buttonContent:hover
{
    background-color: #ffc980;
    transition: .3s ease-in-out;
}

.contentText a
{
    color: white;
    text-decoration: none;
}

.footer
{
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 20px;
    background:#D08831;
}

#egzorcyzmAnn
{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5)), url("../assets/films/ann.jpg") no-repeat center;
    height: 300px;
    width: 900px;
    transition: all 0.5s ease-in-out;
}

/*#egzorcyzmAnn:hover*/
/*{*/
/*    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("../assets/films/ann.jpg") no-repeat center;*/
/*    transition: all 0.5s ease-in-out;*/
/*}*/

#samuraj
{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url("../assets/films/blazing2.jpg") no-repeat center;
    height: 300px;
    width: 900px;
    transition: all 0.5s ease-in-out;
}

/*#samuraj:hover*/
/*{*/
/*    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("../assets/films/blazing2.jpg") no-repeat center;*/
/*    transition: all 0.5s ease-in-out;*/
/*}*/

#samuraj
{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url("../assets/films/blazing2.jpg") no-repeat center;
    height: 300px;
    width: 900px;
    transition: all 0.5s ease-in-out;
}

/*#samuraj:hover*/
/*{*/
/*    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("../assets/films/blazing2.jpg") no-repeat center;*/
/*    transition: all 0.5s ease-in-out;*/
/*}*/

#dcLiga
{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url("../assets/films/ad1.png") no-repeat center;
    height: 300px;
    width: 900px;
    transition: all 0.5s ease-in-out;
}

/*#dcLiga:hover*/
/*{*/
/*    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("../assets/films/ad1.png") no-repeat center;*/
/*    transition: all 0.5s ease-in-out;*/
/*}*/

#biletDoRaju
{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url("../assets/films/biletdoraju hd.png") no-repeat center;
    height: 300px;
    width: 900px;
    transition: all 0.5s ease-in-out;
}

/*#biletDoRaju:hover*/
/*{*/
/*    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("../assets/films/biletdoraju hd.png") no-repeat center;*/
/*    transition: all 0.5s ease-in-out;*/
/*}*/

#halloweenFinal
{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5)), url("../assets/films/halloween-ends-movie-review-2022-transformed.jpeg") no-repeat center;
    height: 300px;
    width: 900px;
    transition: all 0.5s ease-in-out;
}

/*#halloweenFinal:hover*/
/*{*/
/*    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("../assets/films/halloween-ends-movie-review-2022-transformed.jpeg") no-repeat center;*/
/*    transition: all 0.5s ease-in-out;*/
/*}*/

#zaginioneMiasto
{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url("../assets/films/zaginione.jpeg") no-repeat center;
    height: 300px;
    width: 900px;
    /*height: 300px;*/
    transition: all 0.5s ease-in-out;
}

/*#zaginioneMiasto:hover*/
/*{*/
/*    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("../assets/films/zaginione.jpeg") no-repeat center;*/
/*    transition: all 0.5s ease-in-out;*/
/*}*/

.bgImage
{
    background-size: cover;
    width: 45%;
    /*height: 100px;*/
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    min-width: 400px;
    transition: all 1s ease-in-out;
}

/*.bgImage:hover*/
/*{*/
/*    transition: all 1s ease-in-out;*/
/*    transform: rotateY(180deg);*/
/*}*/

.bgImage .text
{
    /*background-color: rgba(0,0,0,0.6);*/
    /*padding: 20px;*/
    /*width: 100%;*/
    max-height: 300px;
    /*min-width: 500px;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.bgImage .text p {
    font-size: 16px;
    width: 100%;
    max-height: 400px;
    margin: 0;
}

.buttonContent
{
    justify-content: center;
    text-align: center;
    width: 170px;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
}
.buttonContent a
{
    justify-content: center;
    text-decoration: none;
}

.columnContainer a
{
    justify-content: center;
    text-decoration: none;
    color: white;
}

.bgImage .text h1
{
    font-size: 25px;
}

@media (max-width:1600px) {
    .bgImage .text p {
        font-size: 16px;
        width: 100%;
        max-height: 400px;
        margin: 0;
    }
    .bgImage .text .buttonContent
    {
        font-size: 14px;
        width: 120px;
        text-align: center;
    }
    .bgImage h1
    {
        font-size: 16px;
    }
}

@media (max-width:1250px) {
    .bgImage .text p {
        font-size: 10px;
        width: 100%;
        max-height: 400px;
        margin: 0;
    }
    .bgImage .text .buttonContent
    {
        font-size: 10px;
        width: 100px;
        text-align: center;
    }
    .bgImage h1
    {
        font-size: 14px;
    }
}

.bgImage .text a
{
    text-decoration: none;
    color: white;
}

.columnContainer
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;
}

.columnContainer:last-child
{
    margin-bottom: 50px;
}

main
{
    padding: 1rem;
    flex-grow: 1;
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


