.imageCinema
{
    width: 600px;
    height: 350px;
    border-radius: 10px;
}

/*.imageDolby*/
/*{*/
/*    width: 500px;*/
/*    height: 250px;*/
/*}*/

.columnDiv
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;
}

.rowDiv
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;
}

.rowDivRev
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top: 10px;
}

.contentText
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    align-content: center;
    color: white;
    margin: 10px;
    width: 600px;
    max-height: 400px;
    height: auto;
}

.contentText p
{
    margin: 0;
}
.contentText h2
{
    margin: 0;
    color: #D08831;
}

.dolby
{
    width: 750px;
}

.imageDolby
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /*width: 900px;*/
    /*height: 450px;*/
    max-width: 900px;
    max-height: 400px;
    height: auto;
    width: auto;
}

.dolbyText
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    margin: 10px;
}

.dolby h2
{
    margin: 0;
    color: #D08831;
}

.formDiv
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    margin-top: 60px;
}

label
{
    color: #D08831;
    margin-bottom: 20px;
    font-size: 20px;
}

input
{
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

input:hover
{
    border: 1px solid #D08831;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.formDiv label:last-child
{
    color: #D08831;
    margin-bottom: 0px;
}
input:focus {
    outline: none;
    border: 1px solid #D08831;
}

textarea
{
    margin-top: -40px;
    width: 250px;
    height: 200px;
    resize: none;
}

.formDiv h2
{
    font-size: 30px;
    color: #D08831;
}

#submit
{
    /*font-family: 'Nunito', sans-serif;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
}

button
{
    color: white;
    background-color: #D08831;
    margin: 0px 5px;
    width: 100px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    transition: 0.5s ease-in-out;
}

button:hover
{
    background-color: #ffb245;
    transition: 0.5s ease-in-out;
}

.rowDivRev h2
{
    font-size: 30px;
    color: #D08831;
}

iframe
{
    height: 535px;
}
