.lineUp
{
    width: 600px;
    border-bottom: 2px solid #D08831;
}

.lineDown
{
    width: 150px;
    text-align: left;
    border-bottom: 2px solid #D08831;
    margin-left: 10px;
}

.newsDiv
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.latestNews
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
    margin-top: -20px;
    max-height: 200px;
    padding: 20px;
    width: 100%;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.3) 0%, rgba(42,32,20,0.3) 100%, rgba(149,114,71,0.3) 100%);
}

.rowDiv
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.rowDivL
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-left: 15%;
}

.rowDiv img
{
    width: 400px;
    height: 180px;
    border-radius: 2px;
}

.rowDivL img
{
    width: 400px;
    height: auto;
    border-radius: 2px;
}

.latestNews .rowDivL img
{
    width: 300px;
    height: 180px;
    margin-bottom: 20px;
    border-radius: 2px;
}

@media (max-width:1600px) {
    .latestNews .rowDivL img
    {
        width: 0px;
        height: auto;
        margin-bottom: 20px;
        border-radius: 2px;
    }
}


.latestNews .newsTextDiv
{
    width: 600px;
    height: auto;
    color: white;
    /*margin-left: 20px;*/
}

.rowDiv .newsTextDiv
{
    width: 400px;
    height: auto;
    color: white;
    /*margin-left: 20px;*/
}

.rowDiv .newsTextDiv p
{
   font-size: 16px;
}

.latestNews .newsTextDiv
{
    margin-left: 30px;
}

.buttonNews
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.NEWS
{
    background-color: #D08831;
    border-radius: 5px;
    font-size: 18px;
    padding: 0px 2px;
}

.more a
{
    text-decoration: none;
    color: #8C8C8C;
    transition: 0.5s ease-in-out;
}

.more a:hover
{
    color: #D08831;
    transition: 0.5s ease-in-out;
}

.news
{
    margin: 60px 50px;
}

.latestNews
{
    font-size: 24px;
}

.latestNews .rowDivL .newsTextDiv .buttonNews .NEWS
{
    font-size: 24px;
}


.imgWrapper {
    display: inline-block;
    overflow: hidden;

    border: 1px solid #D08831;
    border-radius: 5px;
    margin-bottom: 20px;
}

.imgWrapper img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

    vertical-align: middle;
}

.imgWrapper img:hover {
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
}
