.lineS
{
    margin-top: 60px;
    width: 800px;
    border-bottom: 3px solid #D08831;
}

#main
{

}

.contentImg
{
    margin: 20px;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    transition: transform 0.5s ease-in-out;
}

.contentImg:hover
{
    transform: scale(0.995);
    transition: transform 0.5s ease-in-out;
}

.contentText
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    align-content: start;
    color: white;
    margin: 30px;
    width: 1000px;
    height: 100%;
}

.newsy_mark
{
    background-color: #D08831;
        border-radius: 10px;
        font-size: 20px;
        padding: 10px 10px;
}

p
{
    font-size: 24px;
}

.contentText ol
{
    font-size: 20px;
}

.contentText img
{
    width: 1000px;
}

.imgWrapper {
    margin-top: 50px;
    display: inline-block;
    overflow: hidden;

    border: 1px solid gray;
}

.imgWrapper img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

    vertical-align: middle;
}

.imgWrapper img:hover {
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
}
